{% from 'bootstrap5/nav.html' import render_nav_item %}
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-xxl bg-body-tertiary justify-content-end">
    <div class="navbar-nav mr-auto">
    {{ render_nav_item("welcome", _badge="Fisher AutoTest Project") }}
        {% if not current_user.is_authenticated %}
            {{ render_nav_item("auth.login", '登录') }}
            {{ render_nav_item("auth.register", '注册') }}
        {% else: %}
            {{ render_nav_item('project.get_all_projects', '项目') }}
            {{ render_nav_item('interface.get_all_interface', '接口') }}
            {{ render_nav_item('case.executed_result', '测试结果') }}
            {{ render_nav_item('auth.logout', '注销') }}
        {% endif %}
    </div>
</nav>
</body>
