{% include "header.html" %}
{% from "bootstrap5/form.html" import render_form %}
{% from 'bootstrap5/pagination.html' import render_pagination %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    {% if current_user.is_authenticated %}
        <div class="d-flex justify-content-end mb-4">
            <a
                    class="btn btn-primary float-right"
                    href="{{ url_for('interface.add_interface') }}"
            >Create New Interface</a
            >
        </div>
    {% endif %}
</div>
<div>
    {% for item in interface %}
        <div>
            <h1>接口名称：{{ item.interface_name }}</h1>
            <h2>接口地址：{{ item.interface_address }}</h2>
            <a class="btn btn-primary float-right"
               href="{{ url_for("interface.show_interface",interface_id=item.id) }}">Info</a>

            <a class="btn btn-primary float-right"
               href="{{ url_for("interface.edit_interface",interface_id=item.id) }}">Edit</a>
            <a class="btn btn-primary float-right" href="{{ url_for("interface.del_interface",interface_id=item.id) }}">Delete</a>

        </div>
        <hr class="my-4"/>

    {% endfor %}
</div>
{{ render_pagination(interface) }}
</body>
</html>
{% include "footer.html" %}