{% extends "base.html" %}
{% from "bootstrap5/form.html" import render_form %}

{% block title %}
    {% if is_login %}
        登录
    {% else %}
        注册
    {% endif %}
{% endblock %}

{% block content %}
    <div class="mb-3">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger" role="alert">
                        {{ message }}
                        </div>
                    {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
        {{ render_form(form,form_type="horizontal") }}
{% endblock %}

